# Environment files
.env
.db.env

# Logs
*.log

# ACME / reverse proxy runtime files
acme.json

# Service runtime data
firefly/firefly_iii_db/
jellyfin/cache/
jellyfin/config/
paperless-ngx/data/
paperless-ngx/db/
paperless-ngx/media/
paperless-ngx/originals/
vikunja/db/
vikunja/files/
wikijs/db-data/

# App-generated local config
filebrowser/filebrowser_config/
qBittorrent-nox/config/
qBittorrent-nox/downloads/
qBittorrent-nox/torrents/
grocy/grocy/config

# Nested runtime data
vikunja/vikunja/db/
vikunja/vikunja/files/
