LOGFILE="/var/log/pbc/backup.log"
SOURCE_DIR="/path/to/data"
REPO="user@realm!api_token_name@host:datastore"
BACKUP_NAME="data.pxar"

RECIPIENT_EMAIL="recipient@example.com"
SENDER_EMAIL="sender@example.com"
MSMTP_ACCOUNT="default"

# Optional client-side encryption
# ENCRYPTION_KEYFILE="/root/.config/proxmox-backup/<profile>-encryption-key.json"
