LOGFILE="/var/log/pbc/backup.log"
SOURCE_DIR="/path/to/data"
REPO="user@realm!api_token_name@host:datastore"
BACKUP_NAME="data.pxar"

PBS_PASSWORD_CRED="/root/.config/proxmox-backup/my-api-token.cred"
PBS_FINGERPRINT_CRED="/root/.config/proxmox-backup/my-fingerprint.cred"

RECIPIENT_EMAIL="recipient@example.com"
SENDER_EMAIL="sender@example.com"
MSMTP_ACCOUNT="default"
