[Unit]
Description=Run Spaceship DDNS updater periodically

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=spaceship-ddns.service

[Install]
WantedBy=timers.target
